header {
    background-color: $header-background-color !important;
    padding: 0px 30px 0px 30px;
}

.navbar {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: $header-background-color !important;
}

.nav-link {
    color: $nav-button !important;
    

    &:hover {
        color: $nav-button-active !important;
    }
}

.fw-bold {
    color: #fff !important;
}

.custom-toggler {
    filter: invert(1); /* Zmienia kolor na biały */
}





