.radio {

    display: flex;
    gap: 20px;
    flex-direction: column;
    //background-color: green;
}

.radio-section {
    display: flex;
    justify-content: start;
    gap: 40px;
    //background-color: rgb(147, 221, 147);

}

.radio-input {
    display: flex;
    align-items: center;
    height: 70px;
    background-color: #f4f4f4;
    border-radius: 10px;
    width: 30%;
}

.radio-input input{
    width: 10%;
}

.time-limited-options {
    display: flex;
    gap: 40px;
}

.time-limit-input {
    display: flex;
    align-items: center;
    background-color: #f4f4f4;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.time-limit-input label {
    margin-right: 10px;
}


.h4-margin {
    margin-bottom: 10px;
}



.question-card {
    display: flex;
    flex-direction: row;
    background-color: #f4f4f4;
    border-radius: 10px;
}

.question-left {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.question-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    //background-color: red;
    padding: 20px;
}

.number {
    display: flex;
    gap: 20px;
}

// Nie uzywa się
.question-right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 10%;
}

.question-action {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30%;
    width: 70%;
    background-color: green;
}

#edit-question-btn {
    background-color: yellow;
    border-radius: 10px;
}

#delete-question-btn {
    background-color: red;
    border-radius: 10px;
}