
// <!-- BUTTONS -->
$button-color: #962328;
$nav-button: #FFDAB9;
$nav-button-active: #FFD700;


// <!-- BACKGROUND -->
$header-background-color: #962328;


// <!-- PRE -->
pre {
    white-space: pre-wrap; /* Włącza zawijanie tekstu */
}

