@charset "UTF-8";
/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

h1 {
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.2;
}

h4 {
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1.2;
  margin-top: 10px;
}

p {
  margin-top: 10px;
}

label {
  font-weight: bold;
}

.container {
  width: 90%;
  padding: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.main {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  background-color: #962328 !important;
  padding: 0px 30px 0px 30px;
}

.navbar {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #962328 !important;
}

.nav-link {
  color: #FFDAB9 !important;
}
.nav-link:hover {
  color: #FFD700 !important;
}

.fw-bold {
  color: #fff !important;
}

.custom-toggler {
  filter: invert(1); /* Zmienia kolor na biały */
}

#login-body {
  background-image: url("../images/wallpapers/login_wallpaper_HD.jpg");
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  background-color: rgba(211, 211, 211, 0.3);
  backdrop-filter: blur(25px);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
  width: 90%;
}

.login-header {
  text-align: center;
  margin: 20px 0 40px 0;
}

/* Styl inputów */
.input-box {
  width: 100%;
  height: 40px;
  border-radius: 15px;
  border: none;
  background-color: #fff;
  box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.05);
}

.login-submit-btn {
  width: 100%;
  height: 60px;
  background: #222;
  border-radius: 15px;
  cursor: pointer;
  color: #fff;
  margin-top: 20px;
}

.error-message {
  margin-top: 10px;
}

/* Media Queries dla różnych ekranów */
/* Extra small devices (telefony) */
@media only screen and (max-width: 600px) {
  .login-box {
    max-width: 80%;
  }
}
/* Small devices (większe telefony, małe tablety) */
@media only screen and (min-width: 601px) and (max-width: 768px) {
  .login-box {
    max-width: 80%;
  }
}
/* Medium devices (tablety w pionie i poziomie) */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .login-box {
    max-width: 50%;
  }
}
/* Large devices (laptopy i duże ekrany) */
@media only screen and (min-width: 1025px) {
  .login-box {
    max-width: 35%;
  }
}
.info {
  display: flex;
  justify-content: space-between;
}

/* Styl dla kart nauczycieli i studentów */
.card {
  width: 200px;
  height: 200px;
  background-color: #f4f4f4;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.card-avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #ddd;
  object-fit: cover;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
}

.card-count {
  font-size: 16px;
  color: #555;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-btn {
  width: 60px;
  height: 30px;
  background-color: #4CAF50;
  border-radius: 5px;
  cursor: pointer;
}

.add-btn:hover {
  background-color: #45a049;
}

.edit-icon {
  width: 20px;
  height: 20px;
}

.add-icon {
  width: 20px;
  height: 20px;
}

table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f4f4f4;
  color: black;
}

tr:hover {
  background-color: #f5f5f5;
}

.active {
  color: green;
}

.inactive {
  color: red;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 60px;
}

.modal-header {
  margin-bottom: 40px;
}

.modal-content {
  background-color: #fff;
  margin: 5% auto;
  padding: 20px;
  border: 3px solid #888;
  width: 80%;
  max-width: 500px;
}

.close-btn {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

label {
  display: block;
  margin: 5px 0;
}

input,
textarea, select {
  width: 100%;
  padding: 8px;
  margin: 5px 0 15px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.submit-btn {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
}

#delete-btn {
  background-color: red;
}

.submit-btn:hover {
  background-color: #45a049;
}

.group-name {
  position: relative;
  cursor: pointer;
  color: black;
}

.group-name:hover::after {
  content: attr(data-students);
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 10px;
  width: 200px;
  font-size: 14px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  line-height: 1.6;
  z-index: 1; /* Ustawienie na najwyższy poziom */
}

.mult-select-tag {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  position: relative;
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --tw-shadow-color: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
  --border-color: rgb(218, 221, 224);
  font-family: Verdana, sans-serif;
}

.mult-select-tag .wrapper {
  width: 100%;
}

.mult-select-tag .body {
  display: flex;
  border: 1px solid var(--border-color);
  background: white;
  min-height: 2.15rem;
  width: 100%;
  min-width: 14rem;
}

.mult-select-tag .input-container {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 auto;
  padding: 0.1rem;
  align-items: center;
}

.mult-select-tag .input-body {
  display: flex;
  width: 100%;
}

.mult-select-tag .input {
  flex: 1;
  background: transparent;
  border-radius: 0.25rem;
  padding: 0.45rem;
  margin: 10px;
  color: #2d3748;
  outline: 0;
  border: 1px solid var(--border-color);
}

.mult-select-tag .btn-container {
  color: #e2eBf0;
  padding: 0.5rem;
  display: flex;
  border-left: 1px solid var(--border-color);
}

.mult-select-tag button {
  cursor: pointer;
  width: 100%;
  color: #718096;
  outline: 0;
  height: 100%;
  border: none;
  padding: 0;
  background: transparent;
  background-image: none;
  -webkit-appearance: none;
  text-transform: none;
  margin: 0;
}

.mult-select-tag button:first-child {
  width: 1rem;
  height: 90%;
}

.mult-select-tag .drawer {
  position: absolute;
  background: white;
  max-height: 15rem;
  z-index: 40;
  top: 98%;
  width: 100%;
  overflow-y: scroll;
  border: 1px solid var(--border-color);
  border-radius: 0.25rem;
}

.mult-select-tag ul {
  list-style-type: none;
  padding: 0.5rem;
  margin: 0;
}

.mult-select-tag li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
}

.mult-select-tag li input {
  width: 10%;
  display: flex;
  justify-content: flex-end;
}

.mult-select-tag ul li {
  padding: 0.5rem;
  border-radius: 0.25rem;
  cursor: pointer;
}

.mult-select-tag ul li:hover {
  background: rgb(243, 244, 246);
}

.mult-select-tag .item-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2rem 0.4rem;
  margin: 0.2rem;
  font-weight: 500;
  border: 1px solid;
  border-radius: 9999px;
}

.mult-select-tag .item-label {
  max-width: 100%;
  line-height: 1;
  font-size: 0.75rem;
  font-weight: 400;
  flex: 0 1 auto;
}

.mult-select-tag .item-close-container {
  display: flex;
  flex: 1 1 auto;
  flex-direction: row-reverse;
}

.mult-select-tag .item-close-svg {
  width: 1rem;
  margin-left: 0.5rem;
  height: 1rem;
  cursor: pointer;
  border-radius: 9999px;
  display: block;
}

.hidden {
  display: none;
}

.mult-select-tag .shadow {
  box-shadow: var(--tw-ring-offset-shadow, 0 0 rgba(0, 0, 0, 0)), var(--tw-ring-shadow, 0 0 rgba(0, 0, 0, 0)), var(--tw-shadow);
}

.mult-select-tag .rounded {
  border-radius: 0.375rem;
}

.radio {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.radio-section {
  display: flex;
  justify-content: start;
  gap: 40px;
}

.radio-input {
  display: flex;
  align-items: center;
  height: 70px;
  background-color: #f4f4f4;
  border-radius: 10px;
  width: 30%;
}

.radio-input input {
  width: 10%;
}

.time-limited-options {
  display: flex;
  gap: 40px;
}

.time-limit-input {
  display: flex;
  align-items: center;
  background-color: #f4f4f4;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.time-limit-input label {
  margin-right: 10px;
}

.h4-margin {
  margin-bottom: 10px;
}

.question-card {
  display: flex;
  flex-direction: row;
  background-color: #f4f4f4;
  border-radius: 10px;
}

.question-left {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.question-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.number {
  display: flex;
  gap: 20px;
}

.question-right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 10%;
}

.question-action {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30%;
  width: 70%;
  background-color: green;
}

#edit-question-btn {
  background-color: yellow;
  border-radius: 10px;
}

#delete-question-btn {
  background-color: red;
  border-radius: 10px;
}

.tests-box {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  padding: 20px;
}

.test_card {
  width: 100%;
  border-radius: 10px;
  background-color: #f4f4f4;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.test_title {
  display: flex;
  justify-content: space-between;
  margin: 10px 0px;
  padding: 0px 10px;
  align-items: center;
}

.test_title-info {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.test-info {
  background-color: #f8f9fa;
  padding: 10px;
  border-radius: 0 0 10px 10px;
  color: #555;
}

.test-buttons {
  display: flex;
  justify-content: space-between;
  justify-content: flex-end;
}

.start-btn {
  padding: 5px 5px 5px 5px;
  border-radius: 10px;
  background-color: #6c757d; /* Zielony o mniejszej intensywności */
  color: white;
}

.test-questions {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #f8f9fa;
  padding: 10px;
  border-radius: 0 0 10px 10px;
}

.answer-option {
  display: flex;
  align-items: center;
  gap: 10px;
}

.answer-option input[type=checkbox] {
  width: 20px;
  height: 20px;
  margin: 0; /* Usuń wszelkie domyślne marginesy */
}

.timer {
  font-family: "Poppins", sans-serif;
  font-size: 2em;
  color: #333;
  background-color: #f0f0f0;
  padding: 10px 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
}

.submit-btn {
  background-color: #6c757d; /* Gray background */
  color: white; /* White text */
  border: none; /* Remove default border */
  padding: 10px 20px; /* Adjust padding as needed */
  font-size: 16px; /* Set font size */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.3s ease; /* Smooth transition for background color */
}

.submit-btn:hover {
  background-color: #5a6268; /* Darker gray on hover */
}/*# sourceMappingURL=main.css.map */